*.mp4
*.mp3
*.jpg
#pycache
__pycache__/
illusion/
mush/
landscape/
output_mp4s/
time_sound.txt
mp3s/
pink/
swirl/
all_src/
#experimental
experimental/
mirror_dump/
mandy/
fin1/
.venv/
media/*
!media/Flowers.jpg